.bug{
    background-color: lime;
}
.dragon{
    background-color: rgb(140, 1, 140);
}
.electric{
    background-color: yellow;
}
.fighting{
    background-color:darkred ;
}
.fire{
    background-color:red;
}
.flying{
    background-color: lightblue;
}
.ghost{
    background-color: white;
}

.ground{
    background-color: brown;
}
.ice{
    background-color: rgb(113, 197, 225);
}
.normal{
    background-color: lightgray;
}
.poison{
    background-color: rgb(141, 22, 141);
}
.psychic{
    background-color: rgb(204, 119, 203);
}
.rock{
    background-color: tan;
}
.water{
    background-color: blue;
}